.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.clear{clear:both;}
.container{max-width: 1000px;margin: 0 auto}
a{text-decoration:none;}
strong{font-weight:700;}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*header*/
#header{background: #fff}
#header .menu{background-color:white;height:90px;z-index: 2;position: relative;}
#header .menu #button-menu-mobile{background: #08863D;cursor: pointer;display: none;position: absolute;height: 35px;padding: 5px 0;left: 15px;top: 15px;width: 35px;z-index: 1}
#header .menu #button-menu-mobile hr{background: #fff; border-radius: 3px;margin: 3px 5px; height: 4px; }
#header .menu .container{height: 100%;position:relative;}
#header .menu .container .row-links{height: 100%}
#header .menu a.principal{display:block;text-align:center;color:#17B9F3;font-size:16px;height: 100%;padding:15px 6px;line-height:17px;font-size:17px;position:relative;z-index: 1;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	-ms-transition: color .2s;
	transition: color .2s;
}
#header .menu a.principal:before{content:"";position:absolute;width:1px;display:block;height:100%;background:#F2F2F2;top:0;left:0;}
#header .menu a.principal:first-child{border:none;}
#header .menu a.principal:hover{color:white;}
#header .menu a.principal i{display:block;font-size: 32px;margin-bottom: 8px}
#header .menu a.principal i.icon-compara-01{margin-left: -50px; font-size: 22px; margin-bottom: 11px; margin-top: 7px;}
#header .menu a + a + a{margin-left:1px;}
#header .menu a.principal:hover{color:white;}/*background-color:#00ADF3;*/
#header .menu a.principal:after{content:'';width:100%;position:absolute;top:0;left:0;height:0;background:#00ADF3;z-index:-1;
-webkit-transition: height .2s;
-moz-transition: height .2s;
-o-transition: height .2s;
-ms-transition: height .2s;
transition: height .2s;
}
#header .menu a.principal:hover:after{height:100%}
#header .menu a.logo{width:auto;margin:10px 4px 0 6px;padding:0;background-color:transparent;}
#header .menu a.logo:before{background-color:transparent;}
#header .menu a.logo:hover{background-color:transparent;}
#header .menu a.logo img{max-width: 90%}
#header md-sidenav ul{overflow:hidden;}
#header .menu a[href$='/compara/']{margin-left:-4px;}
#header .menu .social-icons{padding-top: 30px}
#header .menu .social-icons i{color: #17B9F3;font-size: 30px;}
#header1{width: 100%; max-width:1000px;}

#sidebar-menu{position: fixed;}
#sidebar-menu md-toolbar.md-default-theme{background: #08863D!important}
#sidebar-menu md-content.md-default-theme{padding: 0}
#sidebar-menu ul li button{text-align: left;width: 100%}
#sidebar-menu ul li a{color: #08863D;font-size: 18px}
#sidebar-menu #close-button{color: #fff;margin-left: 10px; background:#08863D;}

@media (max-width: 600px){
	/*General*/
	[flex-sm="100"]{max-width: none!important;-webkit-flex: 1!important; -ms-flex: 1!important; flex: 1!important;}

	/*Header*/
	#header .menu #button-menu-mobile{display: block;}
	#header a[hide-sm]{display: none!important;}
	#header #sub-header{text-align: center;}
	#header #sub-header .column-left{display: none;}
	#header #sub-header .column-right{padding: 10px}
	#header #sub-header .column-right .titles h1{padding: 4px;margin-top: 0}
	#simple_search input[type="text"],
	#simple_search .button-bordered{margin: 0 auto 10px;max-width: 240px;width: 240px}
	#header .menu a.logo{margin: 0 auto!important;max-width: 50%!important;text-align: center;}
	#header .menu a.logo img{max-width: 100%;margin-top: 10px}

	/*Breadcrumb*/
	#content .container .breadcrumb a + a:before{content: '> ';border: 0}
	#content .container .breadcrumb a.start{color: #05A6EE;background: none}
	#content .container .breadcrumb a.start:after{display: none;}
	#content .container .breadcrumb a{border: 0}
	#content .container .breadcrumb a + a:before{left: 0}
	#content .container .breadcrumb :nth-child(2){/*padding-left: 0;*/border-left: none}


	/*Blog*/
	#content .container.blog .feed .post .post-thumb{height: 200px;}
	#content .container.blog .feed .post .post-thumb .img{padding: 18%;}


	ul.dropdown-menu{max-width: 240px}
	#toggle-compara{display: none;}
}

.upper{text-transform: uppercase;}
#camino img{width:100%; height:100%;}
#camino .intro{background:#276FB7;position: relative;}
#camino .left, #camino .left a{color:white;}
#camino .right{overflow:hidden;min-height: 450px;}
#camino .intro .child-pic{background-image: url(../images/nino.jpg);background-position: center top;background-size: cover;position: absolute;width: 100%;height: 100%;}
#camino .register.info{background:#F6921A;}
#camino .tmp{margin-top:240px;}
#camino h1{font-size: 3em;font-weight: bold;margin-bottom: -10px;}
#camino .sub{font-size: 1.5em;margin: 0;}
#camino .sub span:first-of-type{font-size: 1.2em;}
#camino .sub span:last-of-type{font-size: 1.3em;font-weight: bold;}
#camino .quote{border-left: solid 4px #FF930D;width: 80%;padding-left: 10px;margin: 20px 0;position: relative;}
#camino .quote .logo-educacion{background-color: white;border-radius: 50%;height: 200px;position: absolute;right: -28%;width: 200px;z-index: 10;}
#camino .quote .logo-educacion .pic{background-image: url(../images/logo.png);background-position: center 40px; background-repeat: no-repeat;background-size: 80% auto;height: 100%;position: absolute;width: 100%;z-index: 5;}
#camino .quote .logo-educacion .triangle{background-color: white;height: 50px;left: -10px;position: absolute;top: 75px;transform: rotate(45deg);width: 50px;}
#camino .quote p{font-size: 1.2em;margin: 10px 0;width: 90%;}
#camino .quote p:first-of-type{margin-top: 0}
#camino .quote p:last-of-type{margin-bottom: 0}
#camino .quote .custom1{font-size: 1.2em;font-weight: bold;}
#camino .quote .custom2 span{font-weight: bold;}
#camino .left p{line-height:normal;font-size: 1.2em;}
#camino .left .question{font-size:1.2em; font-weight:200;}
#camino .left .share{font-size:1.3em; font-weight:200;}
#camino .left .cuenta{font-size:3em;}
#camino .mbases{margin-top:0px;}
#camino .bases p{font-size:18px;}
#camino .bases .border-link{margin:16px; position:relative;border: 2px solid white; font-weight: 700; padding:2px 23px;width: 300px;}
#camino .bases .border-link span{font-size:25px;}
#camino .bases .border-link p{font-size:15px; padding:10px 10px; font-weight:700;}
#camino .bases .border-link .total-link{position:absolute; width:100%; height:100%; right:0; top:0;}
#camino .info .iconexito-registro{font-size:60px; color:white; padding:30px 0 0;}
#camino .info h1{font-size:25px; line-height:normal; font-weight:700; color:white;}
#camino .info p{font-size:16px; padding:13px 0 0; color:white;}
#camino .info p + p{padding:0; margin-top:-5px; font-size:16px; font-weight: 700; color:white;}
#camino .down{background:url(../images/flecha.png) center no-repeat; display:block; width:32px; height:43px; margin-bottom:15px;background-size:43px 21px; cursor:pointer;}

#content{background:#F4F4F4;}

.inputs{padding:41px 0 0 0;}
.inputs > md-card{padding:40px 40px;}
.inputs .circle{border-radius:50%; border:2px solid #F6921D; width:51px; height:51px; text-align:center; position:relative;}
.inputs [class^="iconexito-"],.inputs [class*=" iconexito-"]{line-height:45px; font-size:31px; color:#F6921D}
.inputs .input-header p{font-size:19px; margin-left:12px; color:#5BA1E6;}
#content .inputs input:focus, .inputs input, #content .inputs textarea:focus, .inputs textarea{border-color:#5BA1E6}
.inputs .expand-header .iconexito-antecedentes{line-height:53px;}
.inputs .expand-header .input-header p{font-size:22px; font-weight:700; color:#F6921D;}
.inputs .expand-header .info{font-size:17px; margin-top:17px; line-height:normal; color:#5BA1E6;}
.inputs .expand-header ul.info{list-style-type:disc; padding:0 22px;}
.inputs .expand-header .input-header.signature p{color:#5BA1E6;}
.inputs .expand-header .warning{color:#828282; font-size:14px; font-weight:700;}
#content .inputs .send button{padding:0 53px; background:#5BA1E6;margin-bottom:12px}
.send button span{font-size:14px; font-weight:700;}
.send .iconexito-listo{font-size:66px; line-height:normal;}
.send p{color:#F6921D;}
.send .success{font-size:18px; font-weight:700; line-height:normal; padding:6px 0 0}
.send .success + p{font-size:17px;}
.logos{padding:37px 0;}
#content .inputs .circle.expand{width:62px; height:52px}
.iconexito-integrantes{line-height:52px;}

#footer{background: #20B45E;color: #fff;padding: 10px 0;text-align: center;min-height: 63px;height: auto}
#footer a{color: #fff}
#footer .menu a{font-weight: 700;font-size: 14px;/*text-transform: uppercase;*/}
#footer.bottom-e404{background: #009FE1;padding: 12px 0}
#footer.bottom-e404 .container.e404 .link{color: #fff;font-size: 18px;float: left;text-align: center;width: 33%;}
#footer.bottom-e404 .container.e404 .link a{color: #fff}
#footer.bottom-e404 .container.e404 .link i{font-size: 28px}
@media(max-width: 960px){
	#content{padding: 0 12px}
	#footer{padding: 10px 12px}
  #camino .quote p{width: 100%;}
}
