.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.clear{clear:both;}
.container{max-width: 900px;margin: 0 auto}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*header*/
#header{background: #fff}
#header .menu{background-color:white;height:90px;z-index: 2;position: relative;}
#header .menu #button-menu-mobile{background: #08863D;cursor: pointer;display: none;position: absolute;height: 35px;padding: 5px 0;left: 15px;top: 15px;width: 35px;z-index: 1}
#header .menu #button-menu-mobile hr{background: #fff; border-radius: 3px;margin: 3px 5px; height: 4px; }
#header .menu .container{height: 100%;position:relative;}
#header .menu .container .row-links{height: 100%}
#header .menu a.principal{display:block;text-align:center;color:#17B9F3;font-size:16px;height: 100%;padding:15px 6px;line-height:17px;font-size:17px;position:relative;z-index: 1;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	-ms-transition: color .2s;
	transition: color .2s;
}
#header .menu a.principal:before{content:"";position:absolute;width:1px;display:block;height:100%;background:#F2F2F2;top:0;left:0;}
#header .menu a.principal:first-child{border:none;}
#header .menu a.principal:hover{color:white;}
#header .menu a.principal i{display:block;font-size: 32px;margin-bottom: 8px}
#header .menu a.principal i.icon-compara-01{margin-left: -50px; font-size: 22px; margin-bottom: 11px; margin-top: 7px;}
#header .menu a + a + a{margin-left:1px;}
#header .menu a.principal:hover{color:white;}/*background-color:#00ADF3;*/
#header .menu a.principal:after{content:'';width:100%;position:absolute;top:0;left:0;height:0;background:#00ADF3;z-index:-1;
-webkit-transition: height .2s;
-moz-transition: height .2s;
-o-transition: height .2s;
-ms-transition: height .2s;
transition: height .2s;
}
#header .menu a.principal:hover:after{height:100%}
#header .menu a.logo{width:auto;margin:10px 4px 0 6px;padding:0;background-color:transparent;}
#header .menu a.logo:before{background-color:transparent;}
#header .menu a.logo:hover{background-color:transparent;}
#header .menu a.logo img{max-width: 90%}
#header .menu a[href$='/compara/']{margin-left:-4px;}
#header .menu .social-icons{padding-top: 30px}
#header .menu .social-icons i{color: #17B9F3;font-size: 30px;}

