<p class='menu'>
  <a href='http://mejoratuescuela.com/quienes-somos'>¿Quiénes somos?</a> |
  <a href='http://mejoratuescuela.com/metodologia'>Metodología</a> |
  <a href='http://mejoratuescuela.com/aviso-de-privacidad'>Aviso legal y de privacidad</a> |
  <a href='http://mejoratuescuela.com/preguntas-frecuentes'>Preguntas frecuentes</a> |
  <a href='http://mejoratuescuela.com/contacto'>Contáctanos</a> |
  <a href='http://mejoratuescuela.com/bases'>Datos abiertos</a>
</p>
<p class='sole'>Todos los derechos reservados | <a href='http://spaceshiplabs.com'>Diseño y desarollo web</a> por <a href='http://spaceshiplabs.com'>Spaceshiplabs</a></p>
