<div id="camino" layout="column">
  <div layout="row" layout-fill layout-md="column">
    <div class="intro left" flex="40" flex-sm="100" flex-md="100">
      <div layout="column" layout-align="center center" layout-fill layout-padding>
        <div class="logo-educacion">
        </div>
      </div>
    </div>
    <div class="intro right" flex hide-sm layout='column'>
      <div flex>
        <div class='ribbon'></div>
        <h1>Conoce las historias  de</h1>
        <h2>las escuelas ganadoras</h2>
        <h3>de la convocatoria</h3>
        <h3>papás y mamás en educacción</h3>
      </div>
      <div class='logos' layout-align="space-around center" layout='row'>
        <img src="images/fundacion_sm.png">
        <img src="images/primero_sm.png">
        <img src="images/mejora_sm.png">
      </div>
    </div>
  </div>
</div>
<div id="main-content">
  <h1>Felicidades</h1>
  <h2>a todas las escuelas participantes</h2>
  <div class="clapping"></div>
  <p class='blue'><strong>Fueron tantas las historias inspiradoras</strong></p>
  <p class="blue">que decidimos premiar el esfuerzo y dedicación</p>
  <p class="blue">del doble de escuelas</p>
  <h3>Haz clic y conoce las 10 ganadoras</h3>
  <div class="arrow"></div>
  <div class="schools" layout='column' layout-sm="column" layout-align="center" flex="70">
    <p layout='row' layout-sm='column' flex-sm="100">
      <a href="images/fichas/1.docx" flex>Centro de Educación Indígena Lázaro Cárdenas <i>Zongozotla, Puebla</i></a>
      <a href="images/fichas/2.docx" flex>Escuela Primaria General Lázaro Cárdenas <i>Dolores Hidalgo, Guanajuato</i></a>
    </p>
    <p layout='row' layout-sm='column' flex-sm="100">
      <a href="images/fichas/3.docx" flex>Escuela Primaria Amado Nervo <i>Atizapán de Zaragoza, Estado de México</i></a>
      <a href="images/fichas/4.docx" flex>Preescolar Indígena Xochiquetzali <i>San José Chiquito, Santiago Miahuatlán, Puebla</i></a>
    </p>
    <p layout='row' layout-sm='column' flex-sm="100">
      <a href="images/fichas/5.docx" flex>Secundaria Técnica 46 Gral. Felipe Ángeles<i>Tijuana, Baja California</i></a>
      <a href="images/fichas/6.docx" flex>Escuela Primaria Amalia S. de Cárdenas <i>Cuautitlán Izcalli, Estado de México</i></a>
    </p>
    <p layout='row' layout-sm='column' flex-sm="100">
      <a href="images/fichas/7.docx" flex>Escuela Preparatoria a Distancia 55 <i>Centla, Tabasco</i></a>
      <a href="images/fichas/8.docx" flex>Escuela Primaria Álvaro Obregón <i>Fresnillo, Zacatecas</i></a>
    </p>
    <p layout='row' layout-sm='column' flex-sm="100">
      <a href="images/fichas/9.docx" flex>Escuela Primaria Independencia <i> Mexicali, Baja California</i></a>
      <a href="images/fichas/10.docx" flex>Telesecundaria Miguel Hidalgo <i>San Luis Potosí, SLP</i></a>
    </p>

  </div>
  <div class="premiacion">
    <h1>La premiación se llevará en 2 etapas:</h1>
    <h2><strong>1er etapa:</strong> antes del 1 de agosto</h2>
    <h2><strong>2da etapa:</strong> a partir del próximo ciclo escolar</h2>

  </div>
</div>
